<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="admin/layouts/head.html"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <th:block th:insert="admin/layouts/header.html"></th:block>
    <!-- Left side column. contains the sidebar -->
    <th:block th:insert="admin/layouts/sidebar.html"></th:block>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <div class="box __web-inspector-hide-shortcut__" style="width:70%; margin-left:200px">


            <div class="box box-info">
                <div class="box-header with-border" style="margin-left: 20px">
                    <h3 class="box-title">Thêm mới sản phẩm</h3>
                </div>
                <form style="margin: 20px" th:action="@{/admin/add-product}" method="post" th:object="${product}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input th:field="*{productName}" type="text" class="form-control" id="productName"
                               name="productName"
                               placeholder="Product Name"/>
                        <small th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                               class="form-text text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="">Category</label>
                        <select th:field="*{category.categoryId}" class="form-control" id="">
                            <option th:each="item : ${category}" th:value="${item.categoryId}"
                                    th:text="${item.categoryName}"></option>
                        </select>
                        <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                               class="form-text text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="image">image</label>
                        <input type="file" class="form-control" id="image" th:name="fileImage"/>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input th:field="*{price}" type="text" class="form-control" id="price" name="price"
                               placeholder="Price"/>
                        <small th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"
                               class="form-text text-danger"></small>
                    </div>
                    <!-- -->
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea th:field="*{description}" type="tex" class="form-control" id="description"
                                  name="description" placeholder="Description"></textarea>
                    </div>
                    <!-- -->
                    <div class="form-group">
                        <label for="stock">Quantity</label>
                        <input th:field="*{stock}" type="number" class="form-control" id="stock" name="stock"
                               placeholder="quantity" min="0"/>
                        <small th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"
                               class="form-text text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-bottom: 20px">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <th:block th:insert="admin/layouts/footer.html"></th:block>
</div>

<th:block th:insert="admin/layouts/script.html"></th:block>
</body>
</html>